/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

&sl {
    release-after-ms = <2000>;
};

&sk {
    quick-release;
};

/ {
    behaviors {
        td_tdi3ws: tap_dance_i3_workspace {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_I3_WORKSPACE";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp LGUI>, <&sl 2>;
        };
    };
    macros {
        tdi3ws_0: tdi3ws_0 {
            label = "ZM_tdi3ws_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp 0>
                , <&macro_release &kp LGUI>
                ;
        };
        tdi3ws_1: tdi3ws_1 {
            label = "ZM_tdi3ws_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp 1>
                , <&macro_release &kp LGUI>
                ;
        };
        tdi3ws_2: tdi3ws_2 {
            label = "ZM_tdi3ws_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp 2>
                , <&macro_release &kp LGUI>
                ;
        };
        tdi3ws_3: tdi3ws_3 {
            label = "ZM_tdi3ws_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp 3>
                , <&macro_release &kp LGUI>
                ;
        };
        tdi3ws_4: tdi3ws_4 {
            label = "ZM_tdi3ws_4";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp 4>
                , <&macro_release &kp LGUI>
                ;
        };
        tdi3ws_5: tdi3ws_5 {
            label = "ZM_tdi3ws_5";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp 5>
                , <&macro_release &kp LGUI>
                ;
        };
        tdi3ws_6: tdi3ws_6 {
            label = "ZM_tdi3ws_6";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp 6>
                , <&macro_release &kp LGUI>
                ;
        };
        tdi3ws_7: tdi3ws_7 {
            label = "ZM_tdi3ws_7";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp 7>
                , <&macro_release &kp LGUI>
                ;
        };
        tdi3ws_8: tdi3ws_8 {
            label = "ZM_tdi3ws_8";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp 8>
                , <&macro_release &kp LGUI>
                ;
        };
        tdi3ws_9: tdi3ws_9 {
            label = "ZM_tdi3ws_9";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp 9>
                , <&macro_release &kp LGUI>
                ;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
  &kp ESC  &kp Q  &kp W     &kp E      &kp R      &kp T       &kp Y     &kp U      &kp I    &kp O     &kp P    &kp LBKT
 &sk CAPS  &kp A  &kp S     &kp D      &kp F      &kp G       &kp H     &kp J      &kp K    &kp L  &kp SEMI     &kp SQT
&sk LSHFT  &kp Z  &kp X     &kp C      &kp V      &kp B       &kp N     &kp M  &kp COMMA  &kp DOT  &kp FSLH  &sk RSHIFT
                        &td_tdi3ws &sk LCTRL  &kp SPACE       &kp LC(BSPC)  &sk RALT      &mo 1
            >;
        };

        adjust_layer {
            bindings = <
&kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_PREV  &kp C_NEXT  &kp C_PP       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&kp F1      &kp F2        &kp F3        &kp F4      &kp F5      &kp F6         &out OUT_BLE  &out OUT_USB  &none         &none         &none         &none
&kp F7      &kp F8        &kp F9        &kp F10     &kp F11     &kp F12        &none         &none         &none         &none         &none         &kp PAUSE_BREAK
                                              &trans    &trans    &none        &none        &trans        &none
            >;
        };
        i3_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans       &trans  &tdi3ws_7  &tdi3ws_8  &tdi3ws_9  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans       &trans  &tdi3ws_4  &tdi3ws_5  &tdi3ws_6  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans       &trans  &tdi3ws_1  &tdi3ws_2  &tdi3ws_3  &trans  &trans
                &trans    &trans   &tdi3ws_0          &none        &trans        &none
            >;
        };
    };
};
