/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

&sl {
    release-after-ms = <2000>;
};

&sk {
    quick-release;
};

/ {
    behaviors {
        td_i3: tap_dance_i3_workspace {
            compatible = "zmk,behavior-tap-dance";
            label = "ZM_tapdance_i3";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp LGUI>, <&sl 2>;
        };
    };
    macros {
        mcro_i3ws0: macro_i3_workspace_0 {
            label = "ZM_macro_i3_workspace_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp NUMBER_0>
                , <&macro_release &kp LGUI>
                ;
        };
        mcro_i3ws1: macro_i3_workspace_1 {
            label = "ZM_macro_i3_workspace_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp NUMBER_1>
                , <&macro_release &kp LGUI>
                ;
        };
        mcro_i3ws2: macro_i3_workspace_2 {
            label = "ZM_macro_i3_workspace_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp NUMBER_2>
                , <&macro_release &kp LGUI>
                ;
        };
        mcro_i3ws3: macro_i3_workspace_3 {
            label = "ZM_macro_i3_workspace_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp NUMBER_3>
                , <&macro_release &kp LGUI>
                ;
        };
        mcro_i3ws4: macro_i3_workspace_4 {
            label = "ZM_macro_i3_workspace_4";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp NUMBER_4>
                , <&macro_release &kp LGUI>
                ;
        };
        mcro_i3ws5: macro_i3_workspace_5 {
            label = "ZM_macro_i3_workspace_5";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp NUMBER_5>
                , <&macro_release &kp LGUI>
                ;
        };
        mcro_i3ws6: macro_i3_workspace_6 {
            label = "ZM_macro_i3_workspace_6";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp NUMBER_6>
                , <&macro_release &kp LGUI>
                ;
        };
        mcro_i3ws7: macro_i3_workspace_7 {
            label = "ZM_macro_i3_workspace_7";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp NUMBER_7>
                , <&macro_release &kp LGUI>
                ;
        };
        mcro_i3ws8: macro_i3_workspace_8 {
            label = "ZM_macro_i3_workspace_8";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp NUMBER_8>
                , <&macro_release &kp LGUI>
                ;
        };
        mcro_i3ws9: macro_i3_workspace_9 {
            label = "ZM_macro_i3_workspace_9";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp NUMBER_9>
                , <&macro_release &kp LGUI>
                ;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
  &kp ESC  &kp Q  &kp W     &kp E      &kp R      &kp T       &kp Y     &kp U      &kp I    &kp O     &kp P    &kp LBKT
 &sk CAPS  &kp A  &kp S     &kp D      &kp F      &kp G       &kp H     &kp J      &kp K    &kp L  &kp SEMI     &kp SQT
&sk LSHFT  &kp Z  &kp X     &kp C      &kp V      &kp B       &kp N     &kp M  &kp COMMA  &kp DOT  &kp FSLH  &sk RSHIFT
                        &td_i3 &sk LCTRL  &kp SPACE       &kp LC(BSPC)  &sk RALT      &mo 1
            >;
        };

        adjust_layer {
            bindings = <
&kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_PREV  &kp C_NEXT  &kp C_PP       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&kp F1      &kp F2        &kp F3        &kp F4      &kp F5      &kp F6         &out OUT_BLE  &out OUT_USB  &none         &none         &none         &none
&kp F7      &kp F8        &kp F9        &kp F10     &kp F11     &kp F12        &none         &none         &none         &none         &none         &kp PAUSE_BREAK
                                              &trans    &trans    &none        &none        &trans        &none
            >;
        };
        i3_layer {
            bindings = <
&trans  &trans  &trans   &kp UP    &trans    &trans       &trans  &mcro_i3ws7  &mcro_i3ws8  &mcro_i3ws9  &trans  &trans
&trans  &trans  &kp LEFT &kp DOWN  &kp RIGHT &trans       &trans  &mcro_i3ws4  &mcro_i3ws5  &mcro_i3ws6  &trans  &trans
&trans  &trans  &trans   &trans    &trans    &trans       &trans  &mcro_i3ws1  &mcro_i3ws2  &mcro_i3ws3  &trans  &trans
                     &trans    &trans   &mcro_i3ws0       &none        &trans        &none
            >;
        };
    };
};
